.wrap_Home {
  height: 80%;
  background-color: #f9f6f4;
}
.img {
  width: 100%;
  height: 95%;
}
.HomeRight {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
}
.wrap_money {
  font-size: 25px;
  font-weight: bold;
}
